In [1]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [2]:
import numpy as np
import pandas as pd
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [3]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [4]:
# create engine to hawaii.sqlite
engine = create_engine("sqlite:///hawaii.sqlite")

# Defining a base
Base = automap_base()

# Preparing Base / reflecting 
Base.prepare(engine , reflect= True)

In [5]:
# Viewing the tables present in hawaii.hawaii.sqlite
Base.classes.keys()

# Creating references for each table in the database
stations  = Base.classes.station

precip = Base.classes.measurement

In [6]:
# Create our session (link) from Python to the DB
session = Session(engine)

# Exploratory Precipitation Analysis

In [72]:
# Find the most recent date in the data set.
from sqlalchemy import desc
from sqlalchemy import asc

recent_date = session.query(precip).order_by(precip.date.desc()).all()

# Viewing the columns that exist in the precipitation table
keys = session.query(precip).order_by(precip.date.desc()).first().__dict__.keys()

#defining the structure of the dictionary object

precip_dict = {
    'id' : [] , 
    'date' : [] , 
    'prcp' : [] , 
    'station' : [] , 
    'tobs' : [] 
}

# Storing the results of the query into the precip_dict

for row in recent_date:

    precip_dict['id'].append(row.id);
    precip_dict['date'].append(row.date);
    precip_dict['prcp'].append(row.prcp);
    precip_dict['station'].append(row.station);
    precip_dict['tobs'].append(row.tobs);

# Converting dictionary object into pandas dataframe

precip_df =  pd.DataFrame(precip_dict)

# Displaying the top 5 rows of the dataframe with the most recent date at the top
precip_df.head(5)

      id        date  prcp      station  tobs
0   2724  2017-08-23  0.00  USC00519397  81.0
1   7635  2017-08-23  0.00  USC00514830  82.0
2  12187  2017-08-23  0.08  USC00519523  82.0
3  19550  2017-08-23  0.45  USC00516128  76.0
4   2723  2017-08-22  0.00  USC00519397  82.0

In [8]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results. 
# Starting from the most recent data point in the database.

# Calculate the date one year from the last date in data set.


# Perform a query to retrieve the data and precipitation scores


# Save the query results as a Pandas DataFrame and set the index to the date column


# Sort the dataframe by date


# Use Pandas Plotting with Matplotlib to plot the data

In [9]:
# Use Pandas to calcualte the summary statistics for the precipitation data

# Exploratory Station Analysis

In [10]:
# Design a query to calculate the total number stations in the dataset

In [11]:
# Design a query to find the most active stations (i.e. what stations have the most rows?)
# List the stations and the counts in descending order.

In [12]:
# Using the most active station id from the previous query, calculate the lowest, highest, and average temperature.

In [13]:
# Using the most active station id
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

# Close session

In [14]:
# Close Session
session.close()